@charset "UTF-8";

* {
    margin: 2px;
    padding: 0px;
}

body {
    background-color: skyblue;
}

header > h1 {
    margin: auto;
    margin-top: 50px;
    width: 500px;
    text-align: center;
}

section {   
    margin: auto;
    margin-top: 50px;
    width: 550px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 10px 10px 0px 5px;
    font: 16pt normal Arial;
}

footer {
    margin: auto;
    margin-top: 50px;
    width: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    font: 15pt normal Arial;
}