@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: skyblue;
}

header > h1 {
    margin: auto;
    margin-top: ;
    width: 500px;
    background-color: white;
}